* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #c3f6db;
    
}

section {
    background: #757575;
    width: 500px;
    min-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px #000;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1{
        display: inline-block;
        color : #c3f6db;
        span::after{
            margin-left: 5px;
            content: "$";
            font-size: inherit;
        }

    }
    
    form {
        width: 100%;
        display: flex;
        gap: 10px;
        button{
            font-size: 30px;

        }
    }
    
    input {
        width: 100%;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 10px;
    }
    
    button {
        width: 42px;
        height: 42px;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 0 5px #000;
        position: relative;
        svg{
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
        }
    }
    button[attr = "del"]{
        background: red;
    }
    button[attr = "done"]{
        background: green;
    }
    button[attr = "edit"]{
        background: yellow;
    }
    
    ul {
        background: #fff;
        flex: 1;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        gap: 5px;
    }
    
    li {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        position: relative;
        
        p, input {
            flex: 1;
            height: 42px;
            background: #c3f6db;
            margin-right: auto;
            padding: 5px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 0 5px #000;
            font-size: 25px;
            position: relative;
            overflow: hidden;
            transition: all 1s ease; /* Додаємо плавний перехід для всіх змін */
        }
        
        p::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: #000;
            top: 50%;
            right: 350px;
            transition: all 0.5s ease; /* Плавний перехід для псевдоелемента */
        }
    
        .done {
            opacity: 0.4;
            position: relative;
            transition: opacity 1s ease; /* Плавний перехід для зміни прозорості */
        }
    
        .done::after {
            right: 0;
        }
    }
    

}